<select class="form-control" id="power" #t (change)="selectedCustomer(t.value)" [(ngModel)]="customerId" name=selectId>
  <option [ngValue]="null" disabled>--Sélectionnez un client--</option>
  <option *ngFor="let Customers of customerData" [routerLink]="['/Commande']" [queryParams]="{customerId: Customers.id}"
    value="{{Customers.id}}" routerLinkActive="active">{{Customers.id}} {{Customers.lastName}} {{Customers.firstName}}
  </option>
</select>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Date De Création</th>
      <th scope="col">Prix Total</th>
      <th scope="col">Id client</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    <tr *ngFor="let Order of orderData">

      <td>{{Order.id}}</td>
      <td>{{Order.creationDate | date}}</td>
      <td>{{Order.totalPrice  | currency}}</td>
      <td>{{Order.customerId}}</td>
      <td><Button class="btn btn-primary" (click)="openModalTemplate(contentModal,Order.id)"> Supprimer</Button></td>
      <td>
        <ngb-accordion>
          <ngb-panel>
            <ng-template ngbPanelTitle>
              <span><Button class="btn btn-primary"> Détails</Button></span>
            </ng-template>
            <ng-template ngbPanelContent>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">UnitPrice</th>
                    <th scope="col">ArticleId</th>
                    <th scope="col">OrderId</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                  <tr *ngFor="let OrderLine of Order.orderLines">

                    <td>{{OrderLine.id}}</td>
                    <td>{{OrderLine.quantity}}</td>
                    <td>{{OrderLine.unitPrice | currency}}</td>
                    <td>{{OrderLine.articleId}}</td>
                    <td>{{OrderLine.orderId}}</td>

                  </tr>

                </tbody>
              </table>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </td>
    </tr>

  </tbody>

</table>



<ng-template #contentModal let-modal>

  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Supression</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>Voulez vous vraiment suprimmer cette commande ?</strong></p>

    <span class="text-danger">Cette opération sera définitive</span>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Annuler</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('Ok click')">Ok</button>
  </div>

</ng-template>