<h2>Liste Clients</h2>


<div *ngIf="pagedData">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nom</th>
        <th scope="col">Prénom</th>
        <th scope="col">Pays</th>
      </tr>
    </thead>
    <tbody>
      <tr>
      <tr *ngFor="let Customers of pagedData.items">

        <td>{{Customers.id}}</td>
        <td>{{Customers.lastName}}</td>
        <td>{{Customers.firstName}}</td>
        <td>{{Customers.country}}</td>
        <td><button type="button" class="btn btn-primary" (click)="clickEdit(Customers)">Edit</button></td>
        <td><button type="button" class="btn btn-primary" [routerLink]="['/Commande']"
            [queryParams]="{customerId: Customers.id}" routerLinkActive="active">Commandes </button></td>
      </tr>
    </tbody>
  </table>
  <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="pagedData.itemsCount" (pageChange)="loadPage()"
    [maxSize]="10">
  </ngb-pagination>
</div>