<h1>Angular </h1>

<nav>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" id="home-tab" data-toggle="tab" [routerLink]="['/Client']"
        routerLinkActive="router-link active" role="tab" aria-controls="home" aria-selected="true">Clients
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" [routerLink]="['/Commande']"
        routerLinkActive="router-link active" role="tab" aria-controls="profile" aria-selected="false">Commandes</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>