<button class="btn btn-lg btn-outline-primary" (click)="openModalComponent()">Modal Component</button>


<button class="btn btn-lg btn-outline-primary" (click)="openModalTemplate(contentModal)">Modal Template</button>


<ng-template #contentModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Test</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('No')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Supprimer ???</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Yes')">Oui</button>
    </div>
</ng-template>
